/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Alegreya';
    src: url('./assets/fonts/AlegreyaSans/AlegreyaSans-Medium.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./assets/fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: 'Simpsons';
    src: url('./assets/fonts/Simpsons/Simpsonfont.ttf');
}

.bg-naranjo {
    background-color: #EF400C;
}

.bg-cele {
    background-color: #0CBBEF;
}

.bg-marron {
    background-color: #360F03;
}

.bg-rosa {
    background-color: #FCCEC1;
}

.bg-azul {
    background-color: #032B36;
}

.bg-sky {
    background-color: #C1EEFC;
}

.display-5 {
    font-family: "Rajdhani", "arial", sans-serif;
    font-size: 40px;
    color: aliceblue;
}

.amatic {
    font-family: "Rajdhani", "arial", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
